.titleFilm {
  font-size: 40px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  text-align: center;
}
.boxText {
  border-bottom: 2px slategrey;
  color: white;
  display: flex;
  justify-content: space-evenly;
  background-color: darkgreen;
  font-weight: 800;
}
.textOverviev {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: gray;
}
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-items: revert;
  margin: auto;
  padding: 20px;
}
.linkDetail {
  font-size: 20px;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid transparent;
  border-radius: 10px;
  background: darkgreen;
  color: aliceblue;
  margin: 10px;
  margin-bottom: 40px;
}

.castBox {
  display: flex;
  justify-content: center;
}
.linkDetail:hover {
  color: darkgreen;
  background-color: white;
  border: solid 2px darkgreen;
}
.goBack {
  text-decoration: none;
  background-color: darkgreen;
  border-radius: 5px;
  padding: 5px;
  color: beige;

  text-transform: uppercase;
  font-weight: 600;
  position: absolute;
  top: 110px;
}
.goBack:hover {
  background-color: darkgreen;
  background-color: beige;
  border: solid 2px darkgreen;
  color: black;
}
