.container {
  background-color: #f2f2f2;
  padding: 20px;
}

.header {
  padding: 10px;
  display: flex;
  justify-content: space-around;
}

.title {
  align-items: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}
.header {
  background-color: #f2f2f2;
  padding: 20px;
}
